################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AreaBase/.vs/AreaBase/FileContentIndex/3e74f3a5-270b-4833-b2cf-fc345ecb153b.vsidx
/ShopWeb/.vs/ShopWeb/FileContentIndex/91ed2a77-1790-44a3-a8b0-d0a0d5952610.vsidx
/ShopWeb/.vs/ShopWeb/FileContentIndex/973b81d2-6726-4549-b2d7-120b1b718600.vsidx
/ShopWeb/.vs/ShopWeb/FileContentIndex/b8636281-fd17-488c-8a83-b8d5952e37a1.vsidx
/ShopWeb/.vs/ShopWeb/FileContentIndex/c778804a-abf8-4520-aafb-03e3eb7b4340.vsidx
/ShopWeb/.vs/ShopWeb/FileContentIndex/ca0c6549-1c25-40a4-9f7e-59ed140127d9.vsidx
