################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AreaBase/.vs/AreaBase/FileContentIndex/3e74f3a5-270b-4833-b2cf-fc345ecb153b.vsidx
